.auth-page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .left-colomn{
        background-size: cover;
    }

    .right-colomn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;
    }
}